@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Pet Animals</h3>

<address>
    <br />
    Malhi Villa(Deep Malhi) 29 Frederick Drive Dinsdale, Hamilton - 3204, New Zealand<br />
    <abbr title="Phone">Ph:</abbr>
    +64 0101010101
</address>

<address>
    <strong>ContactUs At:</strong>   <a href="mailto:contactus@petanimals.com">contactus@petanimals.com</a><br />
    
</address>